.button {
    background-color: #059fc9;
    background-image: linear-gradient(to right, #059fc9, #1cb8aa);
    box-shadow: none;
    border: none;
    border-radius: 25px;
    height: 40px;
    padding: 0px 15px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .button:hover {
    cursor: pointer;
    color: #1cb8aa;
    border: 2px solid #1cb8aa;
    background: transparent;
  }

.img-fluid{
    max-width: 100%;
    max-height: 600px;

}

.img-overlap{
    margin-top: -52px;
}

.card:hover{
    color: white;
    background: linear-gradient(180deg, rgb(6, 154, 212), rgb(83, 4, 92));
    overflow: hidden;
}


